{% set active_menu_item = 'test' %}
{% extends '::base.html.twig' %}
{% block title %}{{ test.name }}{% endblock %}
{% block body %}
    <h1>{{ test.name }}</h1>
    {% if test.description %}
        <p>{{ test.description }}</p>
    {% endif %}
    {% if test.image %}
        <img src="{{ test.image }}" class="img-responsive" />
    {% endif %}
    <hr>
    <form role="form" action="{{ path('_resultTest', {'id': test.id}) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token('attempt_csrf') }}" />
    {% for question in test.questions %}
        <div class="form-group">
            <h4>{{ question.text }}</h4>
            {% if question.type == types.text %}
                <textarea class="form-control" name="question[{{ question.id }}][0]"></textarea>
            {% else %}
                {% for answer in question.answers %}
                    {% set type = (question.type == types.single) ? 'radio' : 'checkbox' %}
                    <div class="{{ type }}">
                        <label>
                            <input type="{{ type }}" name="question[{{ question.id }}][]" value="{{ answer.id }}">
                            {{ answer.text }}
                        </label>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
        <input type="submit" value="Check" class="btn btn-success center-block" />
    </form>
{% endblock %}
