{% set active_menu_item = 'test' %}
{% extends '::base.html.twig' %}
{% block body %}
    <h1>List of tests for passing</h1>
    <div class="list-group">
    {% for test in pagination %}
        <a href="{{ path('_showTest', { 'id': test.id }) }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ test.name }}</h4>
            <p class="list-group-item-text">{{ test.description }}</p>
            <small>{{ test.questions|length }} question(s)</small>
        </a>
    {% endfor %}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
